
h1 {
    /* margin: 0; */
    color: var(--background-color);
    font-size: 40px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.75);
    letter-spacing: 1px;
    height: 0; /* essentially removes it from the flex */
    position: absolute;
    top: 0;
    transform: translate(-20vw, 20px) rotate(-10deg);
}

h2#turn-indicator {
    /* margin: 0; */
    background-color: #333;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

h2#turn-indicator #player-indicator.player1 {
    color: var(--player1-color);
}

h2#turn-indicator #player-indicator.player2 {
    color: var(--player2-color);
}