@import 'variables.css';
@import 'board.css';
@import 'headers.css';

html, body {
    margin: 0;
    height: 100vh;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-family: sans-serif;
    background-color: var(--background-color);
}

